

#first{
    background-color: blueviolet;
}
#second{
    background-color: blueviolet;
    color: aliceblue;
}
#third{
    background-color: chartreuse;
    color: blue;
}
#forth{
    background-color: crimson;
    color: cornsilk;
}
#fifth{
    background-color: cyan;
    color: darkred;
}
#sixth{
    background-color: darkorange;
}