/* table */
table{
    border-collapse: collapse;
    text-align: center;
    font-size: 15PX;
}

.RED{
    background-color: red;
}

.BOT{
    background-color: cornflowerblue;
}





/* navber */
nav{

}

.{
    background-color: red;
}

